#footer
	p(style="text-align: center; position: absolute; padding-left: 750px") Copyright (c) Sudarshan Bhattacharjee
	
	p(style="text-align: left; position: absolute") Browser support: Chrome 41+ | Firefox 39+ | IE9+ | Safari 14+ | Opera 12+

	p.social
		|	facebook |
		|	twitter |
		|	linkedin