extends layout

block append head
	link(rel='stylesheet', href='/stylesheets/basic.css')
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")
	script(src='/js/filedrop.js')
	script(src='/js/jquery.js')
	script(src='/js/custom.js')
		
block content

	div.container-top
		h1= title
		
		p 
			b Welcome 
			| 
			i to 
			u #{title}

	div.container-main
		div.container-left
			div.sheets
				//
					div.sheet
						input(type="radio" id="sheet-1" name="sheet-group" checked)
						label(for="sheet-1") Sheet 1
						
						div.data
		
					div.sheet
						input(type="radio" id="sheet-2" name="sheet-group")
						label(for="sheet-2") Sheet 2
					
		div.container-right
			div
				form#xlUpload(enctype="multipart/form-data" action="/xlUpload" method="POST")
					input(type="file" name="fileUpload")
					input(type="submit" name="submit" value="Upload 1")
		
			div
				form#xlUpload(enctype="multipart/form-data" action="/xlUpload" method="POST")
					input(type="file" name="fileUpload")
					input(type="submit" name="submit" value="Upload 2")
		
			div
				form#xlUpload(enctype="multipart/form-data" action="/xlUpload" method="POST")
					input(type="file" name="fileUpload")
					input(type="submit" name="submit" value="Upload 3")
		
		
		script.
			$(document).ready(app.init);
	
	
	//
		fieldset#xlDrop.fd-zone
			p.legend Drop a file or <em>Browse</em>
			p.progress
				span#progress-bar