extends layout

block append head
	link(rel='stylesheet', href='/stylesheets/basic.css')
	link(rel='stylesheet', href='/stylesheets/dropzone.css')
	script(src='/js/dropzone.js')

	script.
		Dropzone.options.xlDropzone = {
			 maxFileSize: 5,
			 acceptedFiles: ".xls, .xlsx, .xlsm, xlsb, .ods, .csv, xml",
		}
		
		
block content

	div.container-top
		h1= title
		
		p 
			b Welcome 
			| 
			i to 
			u #{title}
		
	div.container-center.
	
	div.container-right
		div
			form#xlDropzone.dropzone.dz-clickable(name="dropFileTest", action="/", method="post")
				div.dz-message.dz-default.
					Drop files here or Click to upload <br><br>
					
			