body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 5px;
}

a {
  color: #00B7FF;
}

.container-top {
    position: relative;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

.container-main {
	width: 100%;
}

/** Worksheet CSS layout **/
.container-left {
    position: relative;
    top: 0;
    left: 0;
    height: 80%;
    width: 84%;
    float:left;
    border: 1px solid black;
}

.container-left input[type=radio] {
 	position: relative;
	top: 10%;
	left: 88%;
	height: 50%;
}

.container-left label {
	position: relative;
	top: 10%;
	left: 92%;
}

.upload{
	position: relative;
	left: 90%;
	border: 1px solid black;
	width: 10%;
	display: none;	
}

[type=radio]:checked ~ .upload{
	display: block;
	z-index: 2;
}

.sheets {
	position: relative;   
	min-height: 600px; 
	clear: both;
	margin: 5px 0;
	overflow: scroll;
}

.sheet {
  float: left;
}

.sheet label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.sheet [type=radio] {
  display: none;   
}
.data {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  border: 1px solid #ccc;
  display: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
}

td, th {
	border: 1px solid black;
	width: 50px;
	height: 20px;	
}

th {
  background: lightblue;
  border-color: white;
  border: 1px solid black;
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .data {
  z-index: 1;
  display: block;
}


/** End of Worksheet CSS **/

.container-right {
	position: relative;
	display: inline-block;
    float: left;
    height: 80%;
    width: 15%;
    overflow: auto;
}

.container-right div{
	background: #ccc;
	height: 100px;		
    border: 1px solid black;
}

.container-right div:HOVER{
	background: #eee;
}

.container-right div form{
	margin: 40px 10px 10px 15px;
}

input[type="submit"] {
	margin: 5px 0 0 0;
}

input[type="file"] {
	width: 100%
}

#footer {
	position: relative;
	text-align: -webkit-center;
    bottom: 0px;
    width: 100%;
    text-align:center;
}

.social {
    bottom: 0px;
    right: 0px;
    text-align: right;
}

/***
	FileDrop.js CSS
	
  Styles below are only required if you're using <iframe> fallback in
  addition to HTML5 drag & drop (only working in Firefox/Chrome/Opera 15+).
 ***/

/* Essential FileDrop zone element configuration: */
.fd-zone {
  position: relative;
  overflow: hidden;
  /* The following are not required but create a pretty box: */
  width: 9em;
  margin: 0 auto;
  text-align: center;
}

/* Hides <input type="file"> while simulating "Browse" button: */
.fd-file {
  opacity: 0;
  font-size: 118px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 0;
  margin: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  font-family: sans-serif;
}

/* Provides visible feedback when user drags a file over the drop zone: */
.fd-zone.over { border-color: maroon; background: #eee; }

/*** End of FileDrop.js CSS***/

